name: Run OpenAPI linter

on:  
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Run Spectral
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: stoplightio/spectral-action@v0.8.12
        with:
          file_glob: 'openapi.yaml'
